/* Basic Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --pink: #ff5776;
    --green: #8ee075;
    --white: #ffffff;
    --off-white: #ffffffc5;
    --black: #010101;
    --off-black: #222222;

    --green-pink: linear-gradient(90deg, var(--pink), var(--green));

    --nav-height: 8rem;

    --fs-h1: 7.5rem;
    --fs-h2: 6rem;
    --fs-h3: 4rem;

    --fs-header-text: 2.4rem;
    --fs-body: 2rem;
    --fs-gutter: 1.7rem;

    --gutter-tiny: 2rem;
    --gutter-small: 3rem;
    --gutter-med-small: 4rem;
    --gutter-med-large: 6rem;
    --gutter-large: 8rem;
    --gutter-huge: 10rem;
    --gutter-eldritch: 20rem;

}

body {
    font-family: 'Atkinson Hyperlegible';
    font-size: var(--fs-body);
    line-height: 1.6;
    font-weight: 400;
    color: var(--off-white);
    background-color: var(--black);
}

img {
    max-width: 100%;
    object-fit: contain;
}

a {
    color: var(--white);
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1.2rem 4rem;
    border: 1px solid;
    border-image: var(--green-pink) 1;
    font-size: 2.2rem;
}

.btn-text {
    display: inline-block;
    padding: 0.8rem 0.4rem;
    border-bottom: 1px solid;
    border-image: var(--green-pink) 1;
}

img {
    object-fit: contain;
}

section {
    padding: var(--gutter-huge) 0;
}

section:not(:last-child) {
    border-bottom: 1px solid var(--off-black);
}

.row {
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: var(--white);
    font-weight: 700;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h2::after {
    content: "";
    display: block;
    height: 0.3rem;
    width: 12rem;
    margin-top: 1rem;
    background-image: var(--green-pink);
}

h3 {
    font-size: var(--fs-h3);
}

ul {
    list-style-position: inside;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url("Images/headerBGEdit.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header .row {
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6rem;
    height: var(--nav-height);
}

nav a {
    font-size: 2.2rem;
}

.header-text-container {
    height: calc(100% - var(--nav-height));
    display: flex;
    align-items: center;
}

.header-text-container p {
    font-size: var(--fs-header-text);
    margin: 1rem 0 3rem;
}

.name {
    display: flex;
    gap: 1rem;
}

.name p {
    margin-top: calc(var(--fs-h1) - var(--fs-header-text));
}

/* My Work */

.work-box {
    display: flex;
    align-items: center;
    gap: var(--gutter-large);
    margin-top: var(--gutter-small);
}

.work-box:not(:last-child) {
    margin-bottom: var(--gutter-eldritch);
}

.work-box-text > * {
    margin-top: var(--gutter-tiny);
}

.work-box-image {
    max-width: 720px;
}

.work-box-links {
    display: flex;
    align-items: center;
    gap: var(--gutter-small);
}

.work-box-image img {
    max-width: 100%;
}

.gh-link {
    transition: all 0.3s;
}

.gh-link:hover,
.gh-link:focus {
    transform: scale(1.2);
}

.gh-link img {
    height: 3rem;
}

/* About */

.about {
    display: flex;
    gap: var(--gutter-large);
    margin-top: var(--gutter-med-small);
}

.about-text p {
    margin-bottom: var(--gutter-small);
}

.about-image {
    flex: 0 0 300px;
}

/* Contact */

.contact {
    max-width: 670px;
}

.contact p {
    margin: var(--gutter-med-small) 0 var(--gutter-small);
}

/* Footer */

footer {
    margin: var(--gutter-large) 0 var(--gutter-med-small);
    text-align: center;
    font-size: var(--fs-gutter);
}

.footer-social {
    margin-bottom: var(--gutter-med-small);
}

.footer-social a:not(:last-child) {
    margin-right: var(--gutter-tiny);
}

.footer-social img {
    height: 40px;
}